exvr_fetcher/ExVrFetcher/test_check_schema/schemaFile284.xsd

<?xml version="1.0" encoding="UTF-8"?>

	<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:element name="DOCUMENT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="item">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="key" type="xs:string"/>
				<xs:element ref="display" />
				<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="display">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="url" type="URL"/>
				<xs:element name="title" type="xs:string" />
				<xs:element name="showurl" type="xs:string"  />
				<xs:element name="date" type="COMDATE" />
				<xs:element name="form" type="form" minOccurs="0" maxOccurs="10" />	
				<xs:element name="link" type="link" minOccurs="0" maxOccurs="10" />	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="URL">
		<xs:restriction base="xs:string">
			<xs:pattern value="https?://.*"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="COMDATE">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}|$\{sogouToday\}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="link"> 
		<xs:attribute name="linkurl" type="xs:string" use="required"/> 
		<xs:attribute name="linkcontent" type="xs:string" use="required"/> 
	</xs:complexType>

	<xs:complexType name="form">
		<xs:attribute name="col0" type="xs:string" />
		<xs:attribute name="col0link" type="xs:string" />
		<xs:attribute name="col1" type="xs:string" />
		<xs:attribute name="col1link" type="xs:string" />
		<xs:attribute name="col2" type="xs:string" />
		<xs:attribute name="col2link" type="xs:string" />
	</xs:complexType>
</xs:schema>