exvr_fetcher/ExVrFetcher/sample.schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name="DOCUMENT">
<xs:complexType>
<xs:sequence>
<xs:element ref="item" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="item">
<xs:complexType>
<xs:all>
<xs:element name="key"> </xs:element>
<xs:element name="display" />
<xs:element name="unique_url" type="URL"/>
<xs:element name="source" />
<xs:element name="fetch_time" />
<xs:element name="classno" />
<xs:element name="classid" />
<xs:element name="classtag" />
<xs:element name="param1" />
<xs:element name="param2" />
<xs:element name="param3" />
<xs:element name="param4" />
<xs:element name="param5" />
<xs:element name="tplid" />
<xs:element name="term" minOccurs="0"/>
</xs:all>
</xs:complexType>
</xs:element>

<xs:simpleType name="URL">
<xs:restriction base="xs:string">
<xs:pattern value="https?://.*"/>
</xs:restriction>
</xs:simpleType>

</xs:schema>
